<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Alazea - Gardening &amp; Landscaping HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="sites/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800">
        <link rel="stylesheet" href="sites/css/bootstrap.min.css">
        <link rel="stylesheet" href="sites/css/classy-nav.css">
        <link rel="stylesheet" href="sites/css/owl.carousel.min.css">
        <link rel="stylesheet" href="sites/css/animate.css">
        <link rel="stylesheet" href="sites/css/magnific-popup.css">
        <link rel="stylesheet" href="sites/css/font-awesome.min.css">
        <link rel="stylesheet" href="sites/css/elegant-icon.css">
        <link rel="stylesheet" href="sites/css/style.css">
    

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}



        {% endblock %}
        {% block javascripts %}{% endblock %}
        <!-- ##### Footer Area End ##### -->

    <!-- jQuery-2.2.4 js -->
    <script src="sites/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="sites/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="sites/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="sites/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="sites/js/active.js"></script>

    </body>
</html>
